/* NavBar without menu */

nav{
    padding: 2% 1% 2% 1%;
}

img{
    width: 50%;
    height: 20%;
    margin: 0;    
}

.navbar-brand{
    width:50%;
    text-align: center ;

}


form{
    margin-bottom: 4rem;
    margin-top: 0.8rem;
    text-align: center;
}

.offcanvas-body ul li{
    margin: 4px;
}

/* Bouton compte */

.dropdown{
    margin-right: 3%;
}

/* Card Manipulation */

.card-body:hover{
    background-color: #6610f2;
}